<div class="panel panel-default">
  <div class="panel-heading">Teams</div>
  <div class="panel-body">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Team</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="team in teamsList">
          <td><img src="{{team.logo}}" /></td>
          <td>{{team.name}}</td>
          <td><a class="btn btn-primary btn-xs" href="#/team-players/{{team.id}}">View</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>